$white: #fff;
$black: #000;
$primary: #ffd800;
/* Reset */
html {
}

body {
}

a {
}

/* Common */
.page-header {
  position: relative;
  text-align: center;
  border: 0;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 5px;
    margin-left: -100px;
    background: $primary;
    content: '';
  }
}

.form-group {
  margin: 18px 0;
}

.form-control {
  border-radius: 2px;
  border-color: rgba($black,0.38);
  box-shadow: none;

  &:focus {
    border-color: $primary;
    box-shadow: none;
  }
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  color: $black;
  background-color: $primary;
  border: 0;

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: $black;
    background-color: $primary;
    outline: none;
    box-shadow: none;
  }
}

.btn-lg {
  border-radius: 3px;
}

.icon-round {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 70px;
  line-height: 200px;
  border: 5px solid $primary;
  border-radius: 50%;
}

.social {
  li {
    display: inline-block;

    a {
      display: block;
      width: 32px;
      height: 32px;
      text-align: center;
      border: 1px solid;
      border-radius: 16px;
      margin: 5px;
      line-height: 32px;
      box-sizing: border-box;

      &:hover {
        color: $primary;
      }
    }
  }
}

.highlight {
  color: $primary;
}

/* Header */
.header {
  background: rgba($black,0.5);
  border: 0;

  .navbar-brand {
    height: 60px;

    img {
      max-height: 100%;
      max-width: 200px;
    }
  }

  &.navbar-inverse .navbar-nav {
    & > li > a {
      color: #ddd;
      line-height: 30px;
    }

    & > .active {
      & > a,
      & > a:focus,
      & > a:hover {
        background: transparent;
        color: #ffd800;
      }
    }
  }
}

/* Section */
.section {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 80px;

  &.section-gray {
    background: #f1f1f1;
  }

  &.section-banner {
    height: 100vh;
    min-height: 200px;
    padding: 100px 0;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;


    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: rgba($black,0.3);
    }

    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      color: $white;
    }
  }
}

/* Footer */
.footer {
  background: #313131;
  color: #ddd;

  h3 {
    margin-top: 0;
    opacity: 0.6;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #eee;

    &:hover,
    &:focus {
      color: $white;
    }
  }



  .container {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .copy {
    padding: 15px;
    background: #212121;
    text-align: center;
    color: #888;
  }
}
